.nav {
  grid-area: n;
  background-color: burlywood;
  padding: 20px;
  }
.item a {
  color: white;
}
.item a.active {
  color: gold;
}
.sidebar .title {
  margin-top: 100px;
  color: white;
  font-size: 20px;
}
.sidebar .wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.sidebar .item {

}
.sidebar img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
